rebuild.bat
chroma_data

.deprecated

.notes/dump
.notes/OllamaLangchainDocker-outlines.md
.notes/ideas.md

app/node_modules
app/package-lock.json
app/deprecated
app/rank_bm25_local
app/__pycache__
app/config/CONFIG.py
app/config/LLM_SERVER_CONFIG.py
app/config/APP_CONFIG.py
app/config/CHROMA_CONFIG.py
app/notebooks
app/notebooks_public/test_logs.csv

CONTAINER_CONFIG_WINDOWS.bat
generate_config_windows.bat
rebuild_debug.bat
rebuild_debug.ps1

output.log